---
layout: plain-page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}
  {% include JB/tags_list %}
</ul>

<div class="tag-category-container">
{% for tag in site.tags %}
  <div class="tag-category-item">
    <span id="{{ tag[0] }}-ref" class="tag-category-item-title">{{ tag[0] }}</span>
    <div class="tag-category-item-content">
      <ul>
        {% assign pages_list = tag[1] %}
        {% include JB/pages_list %}
      </ul>
    </div>
  </div>

{% endfor %}
</div>
