.tag-category-container {
  width: 100%;
  display: inline-block;
  margin-top: 30px;
}
.tag-category-item {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}
.tag-category-item-title {
  font-size: 2em;
  float: left;
  width: 35%;
  padding-right: 20px;
  text-align: right;
  /*word-wrap:break-word;*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tag-category-item-content {
  float: right;
  display: inline-block;
  right: 100%;
  width: 65%;
  border-left: 1px solid #CCC;
}
.tag-category-item-content ul {
  list-style-type: none;
}
.tag-category-item-content ul li a {
  color: #777777;
  font-size: 1em;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tag-category-item-content ul li a:active {
  color: #AAA;
}
.tag-category-item-content ul li a:hover {
  color: #555555;
}
